
<h1>教えてくれてありがとう♡</h1>
<p>
  <strong>Animal:</strong>
  <%= @noa.animal %>
</p>
<p>
  <strong>Kinds:</strong>
  <%= @noa.kinds %>
</p>
<%= image_tag("EC453C0C-6812-4D0E-9008-4F37E9B0AF3A_1_105_c.jpeg", alt: "Your image description") %>
<%= link_to 'Back', new_noa_path, class: 'button' %>
