<h1>Love petへようこそ！</h1>
<%= image_tag("3467EEAE-4EAE-46E1-B46F-8A7D1B00109F_1_105_c.jpeg") %>


<p>案内人のノアです！ここではより良いペットとの生活を<br>
していくためのアンケートをしているよ。</p>
<p>
  <%= link_to '始めよう！', new_noa_path %><br>
  
</p>
